<div class="row">
    <div class="col-md-10 margin-top-20 col-md-offset-1">
        <a href="@Url.Action("Index","Students")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-education"></span> Students
        </a>
        <a href="@Url.Action("Index","Subjects")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-book"></span> Subjects
        </a>
        <a href="@Url.Action("Index","Departments")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-home"></span> Departments
        </a>
        <a href="@Url.Action("Index","Professors")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-user"></span> Professors
        </a>
        <a href="@Url.Action("Index","RegisterForAnExams")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-list-alt"></span> Register for an exam
        </a>
        <a href="@Url.Action("Index","ExamPeriods")" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-calendar"></span> Exam periods
        </a>
    </div>
</div>